{{- if and .Values.global.enabled (or .Values.networkPolicies.bridges .Values.networkPolicies.bonds .Values.networkPolicies.vlans .Values.customPolicies) }}
{{- range .Values.networkPolicies.bridges }}
---
apiVersion: nmstate.io/v1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: {{ .name }}-bridge
  labels:
    {{- include "network-nmstate.labels" $ | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  desiredState:
    interfaces:
      - name: {{ .name }}
        type: {{ .type }}
        state: {{ .state }}
        {{- if .ipv4 }}
        ipv4:
          {{- toYaml .ipv4 | nindent 10 }}
        {{- end }}
        {{- if .ipv6 }}
        ipv6:
          {{- toYaml .ipv6 | nindent 10 }}
        {{- end }}
        {{- if .mtu }}
        mtu: {{ .mtu }}
        {{- end }}
        {{- if .ports }}
        bridge:
          port:
          {{- range .ports }}
            - name: {{ .name }}
              {{- if .vlan }}
              vlan:
                {{- if eq .vlan.mode "trunk" }}
                mode: trunk
                {{- if .vlan.trunkTags }}
                trunk-tags:
                {{- range .vlan.trunkTags }}
                  - {{- if .idRange }}
                    id-range:
                      min: {{ .idRange.min }}
                      max: {{ .idRange.max }}
                    {{- else }}
                    id: {{ .id }}
                    {{- end }}
                {{- end }}
                {{- end }}
                {{- else }}
                mode: access
                tag: {{ .vlan.tag }}
                {{- end }}
              {{- end }}
          {{- end }}
        {{- end }}
{{- end }}

{{- range .Values.networkPolicies.bonds }}
---
apiVersion: nmstate.io/v1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: {{ .name }}-bond
  labels:
    {{- include "network-nmstate.labels" $ | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  desiredState:
    interfaces:
      - name: {{ .name }}
        type: {{ .type }}
        state: {{ .state }}
        {{- if .mtu }}
        mtu: {{ .mtu }}
        {{- end }}
        {{- if .linkAggregation }}
        link-aggregation:
          mode: {{ .linkAggregation.mode }}
          slaves: {{ toYaml .linkAggregation.slaves | nindent 10 }}
          {{- if .linkAggregation.options }}
          options:
            {{- toYaml .linkAggregation.options | nindent 12 }}
          {{- end }}
        {{- end }}
{{- end }}

{{- range .Values.networkPolicies.vlans }}
---
apiVersion: nmstate.io/v1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: {{ .name }}-vlan
  labels:
    {{- include "network-nmstate.labels" $ | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  desiredState:
    interfaces:
      - name: {{ .name }}
        type: {{ .type }}
        state: {{ .state }}
        {{- if .vlan }}
        vlan:
          base-iface: {{ .vlan.base_iface }}
          id: {{ .vlan.id }}
        {{- end }}
        {{- if .ipv4 }}
        ipv4:
          {{- toYaml .ipv4 | nindent 10 }}
        {{- end }}
        {{- if .ipv6 }}
        ipv6:
          {{- toYaml .ipv6 | nindent 10 }}
        {{- end }}
{{- end }}

{{- range .Values.customPolicies }}
---
apiVersion: nmstate.io/v1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: {{ .name }}
  labels:
    {{- include "network-nmstate.labels" $ | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  {{- if .nodeSelector }}
  nodeSelector:
    {{- toYaml .nodeSelector | nindent 4 }}
  {{- end }}
  desiredState:
    {{- toYaml .desiredState | nindent 4 }}
{{- end }}
{{- end }}