{{- if .Values.global.enabled }}

{{/* Generate VLAN NADs automatically */}}
{{- if .Values.networkAttachments.vlansNADs.enabled }}
{{- range .Values.networkAttachments.vlansNADs.vlanList }}
---
apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: vlan{{ . }}
  namespace: {{ $.Values.networkAttachments.vlansNADs.namespace }}
  labels:
    vlan-id: "{{ . }}"
    network-name: "vlan{{ . }}"
    purpose: "openshift-virtualization"
    {{- include "network-nmstate.labels" $ | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "20"
spec:
  config: |
    {
      "cniVersion": "0.3.1",
      "name": "vlan{{ . }}",
      "type": "{{ $.Values.networkAttachments.vlansNADs.cniType }}",
      "bridge": "{{ $.Values.networkAttachments.vlansNADs.bridge }}",
      "vlan": {{ . }},
      "mtu": {{ $.Values.networkAttachments.vlansNADs.mtu }},
      "macspoofchk": {{ $.Values.networkAttachments.vlansNADs.macSpoofCheck }},
      "ipam": {}
    }
{{- end }}
{{- end }}

{{/* Custom NADs */}}
{{- if .Values.networkAttachments.custom }}
{{- range .Values.networkAttachments.custom }}
---
apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: {{ .name }}
  namespace: {{ .namespace | default "default" }}
  labels:
    {{- include "network-nmstate.labels" $ | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "20"
spec:
  config: {{ .config | quote }}
{{- end }}
{{- end }}

{{- end }}