{{- if and .Values.global.enabled (index .Values "helper-operator" "operators" "nmstate" "enabled") (index .Values "helper-operator" "operators" "nmstate" "operatorgroup" "create") }}
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: nmstate-operatorgroup
  namespace: {{ index .Values "helper-operator" "operators" "nmstate" "namespace" "name" }}
  labels:
    {{- include "network-nmstate.labels" . | nindent 4 }}
    app.kubernetes.io/component: nmstate-operatorgroup
  annotations:
    {{- if index .Values "helper-operator" "operators" "nmstate" "syncwave" }}
    argocd.argoproj.io/sync-wave: {{ index .Values "helper-operator" "operators" "nmstate" "syncwave" | quote }}
    {{- else }}
    argocd.argoproj.io/sync-wave: {{ .Values.global.syncwave | quote }}
    {{- end }}
spec:
  {{- if index .Values "helper-operator" "operators" "nmstate" "operatorgroup" "targetNamespaces" }}
  targetNamespaces:
    {{- range index .Values "helper-operator" "operators" "nmstate" "operatorgroup" "targetNamespaces" }}
    - {{ . | quote }}
    {{- end }}
  {{- end }}
{{- end }}