{{- if and .Values.global.enabled (index .Values "helper-operator" "operators" "nmstate" "enabled") }}
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ index .Values "helper-operator" "operators" "nmstate" "subscription" "operatorName" }}
  namespace: {{ index .Values "helper-operator" "operators" "nmstate" "namespace" "name" }}
  labels:
    {{- include "network-nmstate.labels" . | nindent 4 }}
    app.kubernetes.io/component: nmstate-subscription
  annotations:
    {{- if index .Values "helper-operator" "operators" "nmstate" "syncwave" }}
    argocd.argoproj.io/sync-wave: {{ index .Values "helper-operator" "operators" "nmstate" "syncwave" | quote }}
    {{- else }}
    argocd.argoproj.io/sync-wave: {{ .Values.global.syncwave | quote }}
    {{- end }}
spec:
  channel: {{ index .Values "helper-operator" "operators" "nmstate" "subscription" "channel" | default "stable" }}
  installPlanApproval: {{ index .Values "helper-operator" "operators" "nmstate" "subscription" "approval" | default "Automatic" }}
  name: {{ index .Values "helper-operator" "operators" "nmstate" "subscription" "operatorName" }}
  source: {{ index .Values "helper-operator" "operators" "nmstate" "subscription" "source" | default "redhat-operators" }}
  sourceNamespace: {{ index .Values "helper-operator" "operators" "nmstate" "subscription" "sourceNamespace" | default "openshift-marketplace" }}
  {{- if index .Values "helper-operator" "operators" "nmstate" "config" }}
  config:
    {{- if index .Values "helper-operator" "operators" "nmstate" "config" "env" }}
    env:
      {{- range index .Values "helper-operator" "operators" "nmstate" "config" "env" }}
      - name: {{ .name }}
        value: {{ .value | quote }}
      {{- end }}
    {{- end }}
    {{- if index .Values "helper-operator" "operators" "nmstate" "config" "resources" }}
    resources:
      {{- toYaml (index .Values "helper-operator" "operators" "nmstate" "config" "resources") | nindent 6 }}
    {{- end }}
    {{- if index .Values "helper-operator" "operators" "nmstate" "config" "nodeSelector" }}
    nodeSelector:
      {{- toYaml (index .Values "helper-operator" "operators" "nmstate" "config" "nodeSelector") | nindent 6 }}
    {{- end }}
    {{- if index .Values "helper-operator" "operators" "nmstate" "config" "tolerations" }}
    tolerations:
      {{- toYaml (index .Values "helper-operator" "operators" "nmstate" "config" "tolerations") | nindent 6 }}
    {{- end }}
  {{- end }}
{{- end }}