{{- if and .Values.oauth.enabled .Values.rbac.clusterAdmins.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cluster-admin-{{ .Values.rbac.clusterAdmins.groupName }}
  labels:
    {{- include "cluster-oauth.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "4"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: {{ .Values.rbac.clusterAdmins.groupName }}
{{- end }}