{{- if and .Values.oauth.enabled .Values.rbac.disableSelfProvisioning.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: self-provisioners
  labels:
    {{- include "cluster-oauth.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "4"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: self-provisioner
subjects: []
{{- end }}