# Default values for helper-argocd chart
# Red Hat Consulting

# Global settings
global:
  namespace: openshift-gitops
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 3
      backoff:
        duration: "30s"
        factor: 2
        maxDuration: "5m"

# AppProject configuration
appProject:
  enabled: true
  name: "operations"
  description: "OpenShift Day-2 Operations Project"
  sourceRepos:
    - "https://dev.azure.com/tch-controlversiones/ocp-v/_git/day2-gitops"
    - "https://charts.stderr.at"
  destinations:
    - namespace: "*"
      server: "https://kubernetes.default.svc"
  clusterResourceWhitelist:
    - group: ""
      kind: "*"
    - group: "*"
      kind: "*"

# Applications configuration
applications:
  # Example:
  # timezone:
  #   enabled: true
  #   syncWave: "1"
  #   chart:
  #     repoURL: https://dev.azure.com/tch-controlversiones/ocp-v/_git/day2-gitops
  #     path: charts/node-timezone
  #     targetRevision: charts
  #   destination:
  #     namespace: default
  #   values:
  #     timezone:
  #       value: "America/Santiago"