{{- if and .Values.global.enabled .Values.machineConfig.worker.enabled }}
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  name: 99-worker-node-tuning
  labels:
    machineconfiguration.openshift.io/role: worker
    {{- with .Values.machineConfig.worker.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- include "node-tuning.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
    {{- with .Values.machineConfig.worker.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      files:
      - path: /etc/kubernetes/kubelet.conf
        mode: 420
        overwrite: true
        contents:
          inline: |
{{ include "node-tuning.workerKubeletConfig" . | indent 12 }}
{{- end }}