apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: day2-applications
  namespace: openshift-gitops
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: day2-operations
  source:
    repoURL: https://github.com/jeanlopezxyz/cluster-gitops.git
    path: charts/helper-argocd
    targetRevision: charts
    helm:
      values: |
        global:
          repoURL: https://github.com/jeanlopezxyz/cluster-gitops.git
          targetRevision: charts
          namespace: openshift-gitops
          syncPolicy:
            automated:
              prune: true
              selfHeal: true

        applications:
          timezone:
            enabled: true
            name: day2-timezone
            syncWave: "1"
            chart:
              path: charts/node-timezone
            helm:
              values: |
                timezone:
                  value: "America/Santiago"
                machineConfig:
                  enabled: true
                  master:
                    enabled: true
                  worker:
                    enabled: true

          tuning:
            enabled: true
            name: day2-tuning
            syncWave: "2"
            chart:
              path: charts/node-tuning
            helm:
              values: |
                global:
                  enabled: true
                machineConfig:
                  master:
                    enabled: true
                  worker:
                    enabled: true

          oauth:
            enabled: true
            name: day2-oauth
            syncWave: "3"
            chart:
              path: charts/cluster-oauth
            syncPolicy:
              automated:
                prune: true
                selfHeal: false
            helm:
              values: |
                oauth:
                  enabled: true
                htpasswd:
                  enabled: true
                  secretName: "htpasswd-secret"
                  users:
                    - username: "admin"
                      password: "redhat123"
                    - username: "developer"
                      password: "redhat123"

          network:
            enabled: true
            name: day2-network
            syncWave: "4"
            chart:
              path: charts/network-nmstate
            destination:
              namespace: openshift-nmstate
            helm:
              values: |
                global:
                  enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: openshift-gitops
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true