---
# Handlers for helm-repository role
# Red Hat Consulting

- name: Restart nginx
  ansible.builtin.systemd:
    name: nginx
    state: restarted
  become: true

- name: Reload firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: reloaded
  become: true
