{{- if .Values.global.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceAccount.name }}
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "etcd-backup.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "2"
{{- end }}