{{- range $key, $operator := .Values.operators }}
{{- if $operator.enabled }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ $operator.subscription.operatorName }}
  namespace: {{ include "helper-operator.namespace" (dict "operator" $operator "key" $key "Release" $.Release) }}
  labels:
    {{- include "helper-operator.labels" $ | nindent 4 }}
    app.kubernetes.io/component: {{ $key }}-subscription
  annotations:
    {{- if $operator.syncwave }}
    argocd.argoproj.io/sync-wave: {{ $operator.syncwave | quote }}
    {{- else }}
    argocd.argoproj.io/sync-wave: {{ $.Values.global.syncwave | quote }}
    {{- end }}
spec:
  channel: {{ $operator.subscription.channel | default "stable" }}
  installPlanApproval: {{ $operator.subscription.approval | default "Automatic" }}
  name: {{ $operator.subscription.operatorName }}
  source: {{ $operator.subscription.source | default "redhat-operators" }}
  sourceNamespace: {{ $operator.subscription.sourceNamespace | default "openshift-marketplace" }}
  {{- if $operator.config }}
  config:
    {{- if $operator.config.env }}
    env:
      {{- range $operator.config.env }}
      - name: {{ .name }}
        value: {{ .value | quote }}
      {{- end }}
    {{- end }}
    {{- if $operator.config.resources }}
    resources:
      {{- toYaml $operator.config.resources | nindent 6 }}
    {{- end }}
    {{- if $operator.config.nodeSelector }}
    nodeSelector:
      {{- toYaml $operator.config.nodeSelector | nindent 6 }}
    {{- end }}
    {{- if $operator.config.tolerations }}
    tolerations:
      {{- toYaml $operator.config.tolerations | nindent 6 }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}